body{
    color: #40514E;
    margin: 0px;
    text-align: center;
    font-family: 'Merriweather', serif;
}

p{
    line-height: 2;
}

h1{
    color: #66BFBF;
    /* margin-top: 0px; */
    margin: 50px auto 0 auto;
    /* font-size: 90px; */
    font-size: 5.625rem;
    font-family: 'Sacramento', cursive;
    
}

h2{
    color: #66BFBF;   
    font-family: 'Montserrat', sans-serif;
    font-size: 2.3rem;  /*2.5rem = 40px*/
    font-weight: normal;
    padding-bottom: 10px;
}

h3{
    font-family: 'Montserrat', sans-serif;
    color: #11999E;
    font-weight: bold;
}


hr{
    border: dotted #EAF6F6 6px;
    border-bottom: none;
    width: 4%;
    margin: 100px auto;
}

a{
    color: #11999E;
    font-family: 'Montserrat', sans-serif;
    margin: 10px 20px;
    text-decoration: none;
}

a:hover{
    color: #EAF6F6;
}


.top-container{
    padding-top: 100px;
    background-color: #e3fdfd;
    position: relative;

}
.middle-container{
    margin: 100px auto;

}
.bottom-container{
    background-color: #66BFBF;
    padding: 50px 0px 20px;
} 

.bottom-cloud{
    position: absolute;
    right:300px;
    top:50px;
}

.top-cloud{
    position: absolute;
    left:300px;
    bottom:300px;
}

.skill-img-1{
    width: 30%;
    float: left;
    margin-right:30px ;
}

.skill-img-2{
    width: 30%;
    float: right;
    margin-left: 30px;
}

.profile-img{
    height: 250px;
}

.footer-link{
    color: #11999E;
}

.skill-row{
    
    width: 50%;
    margin: 110px auto 110px auto;
    text-align: left;
}

/* .code-desc{
    clear: left;
}

.hobby-desc{
    clear: right;
} */



.into-para{
    margin: auto;
    width: 30%; 

} 

/* .Skill-heading{
    margin-top: 90px;
} */

/* .get-in-touch-h2{
    margin-top: 90px;
} */

.contact-message{
    width: 40%;
    margin: 40px auto 60px;
}

.copyright{
    color: #EAF6F6;
    font-size: 0.75rem;
    padding: 20px 0px;
}

.btn {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999E);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999E);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999E);
  background-image: -o-linear-gradient(top, #11cdd4, #11999E);
  background-image: linear-gradient(to bottom, #11cdd4, #11999E);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}
